@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: "Montserrat";
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
      )
      rgb(var(--background-end-rgb))
}



@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  100% {opacity: 0;}
  0% {opacity: 1;}
} 

@-webkit-keyframes fadeOut {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fade-out {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.btn-primary {
  @apply bg-cyan-600 hover:bg-cyan-800 text-white py-2 px-4 rounded transition-all h-10 rounded-md text-sm;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all h-10 rounded-md text-sm;
}

.btn-disabled {
  @apply bg-gray-600 text-white py-2 px-4 rounded transition-all h-10 rounded-md text-sm;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-700 text-white py-2 px-4 transition-all h-10 rounded-md text-sm;
}

img{
  background-color: transparent;
}

.box-shadow{ 
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius : 8px;
  background-color : rgba(243, 243, 243, 0.3)
}

.box-shadow-input {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.box-shadow-input:focus {
  animation: duration-300;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-shadow-input:hover {
  animation: duration-300;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}